body {
    background-color: rgba(255, 255, 255, 0.142);
}
.header-color {
    background-color: rgba(227, 225, 225, 0.318);
}
.btn-color {
    background-color: orange;
    padding: 10px;
    color: white;
}
.btn-color:hover{
    background-color: rgb(210, 137, 0);
    color: white;
}